<!doctype html>
<html>
<head>
	<title>Angular Forms</title>

	<!-- LOAD BOOTSTRAP CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> 		<!-- LOAD JQUERY -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> 	<!-- LOAD ANGULAR -->

	<!-- PROCESS FORM WITH AJAX (NEW) -->
	<script>
		// define angular module/app
		var formApp = angular.module('formApp', []);

		// create angular controller and pass in $scope and $http
		function formController($scope, $http) {

			// declare object to store 2-way bound form variables
			$scope.formData = {};

			// process the form
			$scope.processForm = function() {
				$http.post('process.php', $scope.formData)
					.success(function(data) {
						console.log(data);

						if (data.errors.name)
							$scope.errorName = data.errors.name;
						if (data.errors.superheroAlias)
							$scope.errorSuperhero = data.errors.superheroAlias;
					});
			};

		}
	</script>
</head>
<body ng-app="formApp" ng-controller="formController">
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3">

	<!-- PAGE TITLE -->
	<div class="page-header">
		<h1><span class="glyphicon glyphicon-tower"></span> Submitting Forms with Angular</h1>
	</div>

	<!-- FORM -->
	<form ng-submit="processForm()">
		<!-- NAME -->
		<div id="name-group" class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" placeholder="Bruce Wayne" ng-model="formData.name">
			<span class="help-block">{{ errorName }}</span>
		</div>

		<!-- SUPERHERO NAME -->
		<div id="superhero-group" class="form-group">
			<label>Superhero Alias</label>
			<input type="text" name="superheroAlias" class="form-control" placeholder="Caped Crusader" ng-model="formData.superheroAlias">
			<span class="help-block">{{ errorSuperhero }}</span>
		</div>

		<!-- SUBMIT BUTTON -->
		<button type="submit" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-flash"></span> Submit!</button>
	</form>

	<pre>
		{{ formData }}
	</pre>

</div>
</div>
</div>
</body>
</html>
